.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-content__title {
  margin-top: 9vh;
  margin-bottom: 15vh;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.profile-content__profile {
  display: flex;
  flex-direction: column;
  width: 410px;
}

.profile-content__label {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
}

.profile-content__label:nth-child(3) {
  border-top: 1px solid #E8E8E8;
  padding-top: 16px;
}

.profile-content__group {
  display: flex;
  flex-direction: column;
}

.profile-content__group_type_save {
  margin-top: 24.9vh;
}

.profile-content__group_type_edit {
  margin-top: 6vh;
}

.text {
  color: #000;
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
}

.profile-content__input {
  text-align: right;
  background-color: inherit;
  padding: 0;
  margin: 0;
  max-width: 300px;
  width: 100%;
  border: none;
  transition: border 0.3s ease-in-out;
}

.profile-content__input:focus {
  outline: 1px solid #aaa;
  border-bottom: 1px solid #3456F6;
}

.profile-content__error {
  min-height: 17px;
  color: #f00;
  visibility: hidden;
}

.profile-content__error_active {
  visibility: visible;
}

.profile-content__button {
  padding: 0;
  border: none;
  background-color: inherit;
  text-align: center;
  font-size: 13px;
  line-height: normal;
}

.profile-content__success {
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
  line-height: normal;
  min-height: 30px;
  color: green;
  visibility: hidden;
}

.profile-content__message_active {
  visibility: visible;
}

.profile-content__button_type_submit {
  margin-top: 20px;
  padding: 13px 0 16px;
  background-color: #3456F3;
  color: #fff;
  border-radius: 3px;
}

.profile-content__button_type_edit {
  font-weight: 400;
  margin-bottom: 16px;
}

.profile-content__button_type_exit {
  color: #EE3465;
  margin: 0;
  font-weight: 500;
}


@media (max-width: 1210px) {
  .profile-content__title {
    margin-top: 28.5vh;
    margin-bottom: 11.5vh;
  }

  .profile-content__group_type_save {
    margin-top: 14vh;
  }

  .profile-content__group_type_edit {
    margin-top: 5vh;
  }
}


@media (max-width: 720px) {
  .profile-content__profile {
    width: 260px;
  }

  .profile-content__input {
    max-width: 200px;
  }

  .profile-content__button {
    font-size: 12px;
  }

  .profile-content__title {
    margin-top: 8.3vh;
    margin-bottom: 10vh;
  }

  .profile-content__group_type_save {
    margin-top: 22.4vh;
  }

  .profile-content__group_type_edit {
    margin-top: 20vh;
  }
}